<!-- <p>about works!</p>
<input type="text" [value]="message()" (change)="changeMessage($event)">
<input type="number" [value]="duration()" (change)="changeDuration($event)">
<app-counter [duration]="duration()" [message]="message()"/> -->
<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iusto tempora, eum amet enim quaerat earum sunt alias aut suscipit, incidunt minus accusantium. Ducimus sunt debitis qui, culpa temporibus consectetur</p>
  <p class="text-xs">ipsum</p>
  <app-audio audioUrl="assets/test.mp3"/>
</div>
